Source: golang-github-elazarl-goproxy
Section: golang
Priority: optional
Standards-Version: 4.6.1
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Dmitry Smirnov <onlyjob@debian.org>,
           Tim Potter <tpot@hpe.com>,
           Francisco Vilmar Cardoso Ruviaro <vilmar@debian.org>
Rules-Requires-Root: no
Build-Depends:
# tests:
               curl,
               debhelper-compat (= 13),
               dh-golang,
               golang-any,
               golang-github-paulrosania-go-charset-dev,
               golang-golang-x-net-dev
Homepage: https://gopkg.in/elazarl/goproxy.v1
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-github-elazarl-goproxy
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-github-elazarl-goproxy.git
XS-Go-Import-Path: github.com/elazarl/goproxy
Testsuite: autopkgtest-pkg-go

Package: golang-github-elazarl-goproxy-dev
Provides: golang-gopkg-elazarl-goproxy.v1-dev
Architecture: all
Depends: golang-github-paulrosania-go-charset-dev,
         golang-golang-x-net-dev,
         ${misc:Depends},
         ${shlibs:Depends}
Description: HTTP proxy library for Go
 Package goproxy provides a customizable HTTP proxy library for Go
 (golang),
 .
 It supports regular HTTP proxy, HTTPS through CONNECT, and "hijacking"
 HTTPS connection using "Man in the Middle" style attack.
 .
 The intent of the proxy, is to be usable with reasonable amount of
 traffic yet, customizable and programable.
